<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<nav>

</nav>

<main>
	{{{@body}}}
</main>

<footer>
	Kick it!
</footer>

<script type="text/javascript" src="http://localhost:35729/livereload.js?snipver=1"></script>
</body>
</html>